body {
    display: block;
    
}

.form-wrapper {
    background-color: lightgray;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}